<div class="header-nav">
    <b-navbar>
        <b-container :fluid="true" id="header-container">
            <ul class="contacts">
                <li>
                    <a class="nav-item" title="mts" href="tel:@Loc["header.phone.value"]">
                        <div>
                            <img height="20" width="20" src="/theme/eshop/Content/images/mts.svg" alt="mts" />
                            <span class="code mb-0">@Loc["header.phone.code.display"]</span>
                        </div>
                        <div>
                            <span class="phone mb-0 ml-1">@Loc["header.phone.number.display"]</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="nav-item" title="life" href="tel:@Loc["header.phone2.value"]">
                        <div>
                            <img height="20" width="20" src="/theme/eshop/Content/images/life.svg" alt="life" />
                            <span class="code mb-0">@Loc["header.phone2.code.display"]</span>
                        </div>
                        <div>
                            <span class="phone mb-0 ml-1">@Loc["header.phone2.number.display"]</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav top-header-items">
                <li class="search-item">
                    @await Component.InvokeAsync("SearchBox")
                </li>
                <template>
                    <li class="nav-item">
                        <a class="nav-link">
                            @*<b-icon icon="gear" :variant="[darkMode ? 'white' : 'dark']" v-b-toggle.sidebar-right></b-icon>*@
                            <b-icon icon="gear" v-b-toggle.sidebar-right></b-icon>
                        </a>
                        <template>
                            <b-sidebar id="sidebar-right" body-class="user-panel" title="@Loc["Account.MyAccount"]" right backdrop>
                                <div class="d-inline-flex flex-wrap mb-2">
                                    <partial name="_Selector_TaxType" />
                                    <partial name="_Selector_Currency" />
                                    <partial name="_Selector_Language" />
                                    <partial name="_Selector_Store" />
                                    <partial name="_Selector_Theme" />
                                    @await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" })
                                </div>
                                <partial name="_HeaderLinks" />
                            </b-sidebar>
                        </template>
                    </li>
                </template>
                <partial name="_ShoppingCartLinks" />
            </ul>
        </b-container>
    </b-navbar>
</div>
