<div class="header-nav">
    <b-navbar>
        <b-container :fluid="true" id="header-container">
            <ul class="d-none d-lg-flex navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.RouteUrl("Page", new { SeName = "ShippingInfo" })">@Loc["header.link.shipping"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.RouteUrl("Page", new { SeName = "payment" })">@Loc["header.link.payment"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.RouteUrl("Page", new { SeName = "Sale" })">@Loc["header.link.sale"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.RouteUrl("Page", new { SeName = "InfoForCustomer" })">@Loc["header.link.customerinfo"]</a>
                </li>
            </ul>
            <ul class="d-flex flex-column d-lg-none mb-0 pl-0">
                <li>
                    <ul class="d-flex pl-0">
                        @if (!string.IsNullOrEmpty(Loc["header.phone.value"]))
                        {
                            <li class="mr-2 align-self-end">
                                <a class="nav-item d-flex" title="mts" href="tel:@Loc["header.phone.value"]">
                                    <img height="24" width="24" src="/theme/eshop/Content/images/mts.svg#svgView(viewBox(0, 0, 258, 259))" alt="mts" />
                                    <h6 class="phone mb-0 ml-1 d-none d-md-flex">@Loc["header.phone.value"]</h6>
                                </a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Loc["header.phone2.value"]))
                        {
                            <li class="mr-2 align-self-end">
                                <a class="nav-item d-flex" title="mts" href="tel:@Loc["header.phone2.value"]">
                                    <img height="24" width="24" src="/theme/eshop/Content/images/life.svg" alt="life" />
                                    <h6 class="phone mb-o ml-1 d-none d-md-flex">@Loc["header.phone2.value"]</h6>
                                </a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(@Loc["menu.contacts.viber.value"]))
                        {
                            <li class="mr-2">
                                <a title="viber" href="viber://chat?number=@Loc["menu.contacts.viber.value"]" rel="noopener" target="_blank">
                                    <img height="24" width="24" src="/theme/eshop/Content/images/viber.svg" alt="viber" />
                                    <span class="sr-only">Viber</span>
                                </a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Loc["menu.contacts.telegram.value"]))
                        {
                            <li class="mr-2">
                                <a title="telegram" href="tg://resolve?domain=@Loc["menu.contacts.telegram.value"]" rel="noopener" target="_blank">
                                    <img height="24" width="24" src="/theme/eshop/Content/images/telegram.svg" alt="telegram" />
                                    <span class="sr-only">Telegram</span>
                                </a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Loc["menu.contacts.instagram.value"]))
                        {
                            <li class="mr-2">
                                <a href="@Loc["menu.contacts.instagram.value"]" rel="noopener" target="_blank">
                                    <img height="24" width="24" src="/theme/eshop/Content/images/instagram.svg" alt="instagram" />
                                    <span class="sr-only">instagram</span>
                                </a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Loc["menu.contacts.email.value"]))
                        {
                            <li class="mr-2">
                                <a title="mail" href="mailto:@Loc["menu.contacts.email.value"]" rel="noopener" target="_blank">
                                    <img height="24" width="24" src="/theme/eshop/Content/images/mail.svg" alt="mail" />
                                    <span class="sr-only">Mail</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                @*<li>
                    <ul class="d-flex justify-content-center pl-0">
                        @if (!string.IsNullOrEmpty(Loc["header.phone.value"]))
                        {
                            <li class="d-sm-flex d-md-none align-items-center">
                                <h6 class="phone mb-0">@Loc["header.phone.value"]</h6>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Loc["header.phone2.value"]))
                        {
                            <li class="d-sm-flex d-md-none align-items-center">
                                <h6 class="phone mb-0">@Loc["header.phone2.value"]</h6>
                            </li>
                        }
                    </ul>
                </li>*@
            </ul>
            <ul class="navbar-nav top-header-items">
                <li class="search-item">
                    @await Component.InvokeAsync("SearchBox")
                </li>
                <template>
                    <li class="nav-item">
                        <a class="nav-link">
                            @*<b-icon icon="gear" :variant="[darkMode ? 'white' : 'dark']" v-b-toggle.sidebar-right></b-icon>*@
                            <b-icon icon="gear" v-b-toggle.sidebar-right></b-icon>
                        </a>
                        <template>
                            <b-sidebar id="sidebar-right" body-class="user-panel" title="@Loc["Account.MyAccount"]" right backdrop>
                                <div class="d-inline-flex flex-wrap mb-2">
                                    <partial name="_Selector_TaxType" />
                                    <partial name="_Selector_Currency" />
                                    <partial name="_Selector_Language" />
                                    <partial name="_Selector_Store" />
                                    <partial name="_Selector_Theme" />
                                    @await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" })
                                </div>
                                <partial name="_HeaderLinks" />
                            </b-sidebar>
                        </template>
                    </li>
                </template>
                <partial name="_ShoppingCartLinks" />
            </ul>
        </b-container>
    </b-navbar>
</div>
