@model FooterModel

<footer class="footer">
    <div class="footer-top section">
        <div class="container">
            <div class="item-row">
                <div class="col-md-12 col-lg-3 col-xl-3">
                    <div class="d-flex align-items-baseline footer-title">
                        <span class="icon mr-2">
                            <b-icon icon="clock-history"></b-icon>
                        </span>
                        <h6 class="title">@Loc["Footer.Hour.Title"]</h6>
                    </div>
                    <ul>
                        <li>
                            <span class="text">@Loc["Footer.Hour.Online"]</span>
                        </li>
                        <li>
                            <span class="text">@Loc["Footer.Hour.Orders"]</span>
                        </li>
                        <li>
                            <span class="text">@Loc["Footer.Hour.Courier"]</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-lg-3 col-xl-3">
                    <div class="d-flex align-items-baseline footer-title">
                        <span class="icon mr-2">
                            <b-icon icon="cash-stack"></b-icon>
                        </span>
                        <h6 class="title">@Loc["Footer.Payments"]</h6>
                    </div>
                    <ul>
                        <li>
                            <span class="text">@Loc["Footer.Payments.Cashondelivery"]</span>
                        </li>
                        <li>
                            <span class="text">@Loc["Footer.Payments.Cardondelivery"]</span>
                        </li>
                        <li>
                            <span class="text">@Loc["Footer.Payments.Epos"]</span>
                        </li>
                        <li>
                            <span class="text">@Loc["Footer.Payments.Postondelivery"]</span>
                        </li>
                        <li>
                            <span class="text">@Loc["Footer.Payments.Cardonline"]</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-lg-3 col-xl-3">
                    <div class="d-flex align-items-baseline footer-title">
                        <span class="icon mr-2">
                            <b-icon icon="phone"></b-icon>
                        </span>
                        <h6 class="title">@Loc["Footer.Contacts"]</h6>
                    </div>
                    <ul>
                        <li>
                            <a title="mts" href="tel:@Loc["header.phone2.value"]">
                                <img height="16" width="16" src="/theme/eshop/Content/images/life.svg" alt="life" />
                                <span class="phone ml-2">@Loc["header.phone2.value"]</span>
                            </a>
                        </li>
                        <li>
                            <a title="mts" href="tel:@Loc["header.phone.value"]">
                                <img height="16" width="16" src="/theme/eshop/Content/images/mts.svg" alt="mts" />
                                <span class="phone mb-0 ml-2">@Loc["header.phone.value"]</span>
                            </a>
                        </li>
                        <li>
                            <a title="viber" href="viber://chat?number=@Loc["menu.contacts.viber.value"]" rel="noopener" target="_blank">
                                <img height="16" width="16" src="/theme/eshop/Content/images/viber.svg" alt="viber" />
                                <span class="sr-only">Viber</span>
                                <span class="phone mb-0 ml-2">@Loc["menu.contacts.viber.value"]</span>
                            </a>
                        </li>
                        <li>
                            <a title="telegram" href="tg://resolve?domain=@Loc["menu.contacts.telegram.value"]" rel="noopener" target="_blank">
                                <img height="16" width="16" src="/theme/eshop/Content/images/telegram.svg" alt="telegram" />
                                <span class="sr-only">Telegram</span>
                                <span class="phone mb-0 ml-2">@Loc["menu.contacts.telegram.value"]</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Loc["menu.contacts.instagram.value"]" rel="noopener" target="_blank">
                                <img height="16" width="16" src="/theme/eshop/Content/images/instagram.svg" alt="instagram" />
                                <span class="sr-only">instagram</span>
                                <span class="phone mb-0 ml-2">@Loc["menu.contacts.instagram.name.value"]</span>
                            </a>
                        </li>
                        <li>
                            <a title="mail" href="mailto:@Loc["menu.contacts.email.value"]" rel="noopener" target="_blank">
                                <img height="16" width="16" src="/theme/eshop/Content/images/mail.svg" alt="mail" />
                                <span class="sr-only">Mail</span>
                                <span class="phone mb-0 ml-2">@Loc["menu.contacts.email.value"]</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-lg-3 col-xl-3 footer-registration">
                    <span class="footer-disclaimer text-black-50">@Html.Raw(Loc["Content.CopyrightNotice", Model.StoreName, DateTime.Now.Year])</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom section">
        <div class="container">
            <div class="item-row justify-content-center">
                <div>
                    <a target="_self" href="/payment" class="payments">
                        <img src="/payments.png" alt="webpay.by">
                        <span class="sr-only">payments</span>
                    </a>
                </div>
                @*<div class="pb-1 pt-1 text-center text-lg-right col-md-6 col-12">
                        <span>Shopping cart software by </span><a class="pr-1 text-success" href="https://grandnode.com/">GrandNode</a>™
                    </div>*@
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "footer" })
</footer>
