@model FooterModel

<footer class="footer">
    @*<div class="footer-top section">
        <div class="container">
            <div class="item-row">
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <div id="footer-block-about-us" class="about-us block">
                        <partial name="_NewsletterBox" />

                        <h6 class="title">@Loc["Footer.AboutUs"]</h6>
                            <ul class="info">
                                @if (!string.IsNullOrEmpty(Model.CompanyName))
                                {
                                    <li>
                                        <span class="icon">
                                            <b-icon icon="building"></b-icon>
                                        </span>
                                        <span class="text">@Loc["Footer.CompanyName.Title"] @Model.CompanyName</span>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(Model.CompanyAddress))
                                {
                                    <li>
                                        <span class="icon">
                                            <b-icon icon="file-earmark-richtext"></b-icon>
                                        </span>
                                        <span class="text">@Loc["Footer.Address.Title"] @Model.CompanyAddress</span>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(Model.CompanyEmail))
                                {
                                    <li>
                                        <span class="icon">
                                            <b-icon icon="envelope"></b-icon>
                                        </span>
                                        <span class="text">@Loc["footer.Email.Title"] @Model.CompanyEmail</span>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(Model.CompanyPhone))
                                {
                                    <li>
                                        <span class="icon">
                                            <b-icon icon="phone"></b-icon>
                                        </span>
                                        <span class="text">@Loc["Footer.Phone.Title"] @Model.CompanyPhone</span>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(Model.CompanyHours))
                                {
                                    <li>
                                        <span class="icon">
                                            <b-icon icon="clock-history"></b-icon>
                                        </span>
                                        <span class="text">@Loc["Footer.Hour.Title"] @Model.CompanyHours</span>
                                    </li>
                                }
                            </ul>
                    </div>
                </div>
                <div id="footer-block-information" class="col-md-12 col-lg-6 col-xl-6">
                    <h6 class="title">@Loc["Footer.Information"]</h6>
                    <ul>
                        @foreach (var mpage in Model.Pages.Where(x => x.IncludeInFooterRow1).ToList())
                        {
                            <li>
                                <a href="@Url.RouteUrl("Page", new { SeName = mpage.SeName })">@mpage.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
    <div class="footer-bottom section">
        <div class="container">
            <div class="item-row">
                <div class="pb-1 pt-1 flex-column text-lg-left text-center copyright col-md-6 col-12">
                    <span class="footer-disclaimer">@Html.Raw(Loc["Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName])</span>
                </div>
                <div class="pb-1 pt-1 text-center text-lg-right col-md-6 col-12">
                    <span>Shopping cart software by </span><a class="pr-1 text-success" href="https://grandnode.com/">GrandNode</a>™
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "footer" })
</footer>
